# This file list what else (besides *.py) gets included into *source* distributions

# The below file specifies the minimum build system requirements, see
# PEP 518 -- Specifying Minimum Build System Requirements for Python Projects
include pyproject.toml

# Include the README and other documentation
recursive-include doc *

# Include the license file
include LICENSE.txt

# Include the data files
# recursive-include data *